body {
    background-color: #121212;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap : 1rem;
    flex-wrap: wrap;
    background-color: #1f1f1f;
    color: #ffffff;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    flex-shrink: 0;
}

.btn-warning {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #000;
    transition: all 0.3s ease;
}
.btn-warning:hover {
    background-color: #FFC107;
    border-color: #FFC107;
}
.card {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card .card-body {
    padding: 1rem;
}

.modal-body h5, .modal-body p {
    margin-bottom: 1rem;
}

.scroll-container {
    width: 300px; /* Set a fixed width for the container */
    height: 150px; /* Optional height */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling if needed */
    white-space: nowrap; /* Prevent line breaks for content */
    border: 1px solid #ccc; /* Optional: Add a border */
}
.nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}


